--index-url https://pypi.fury.io/zerthmonk/
--extra-index-url https://pypi.org/simple/

wheel>=0.35.1
skabenproto>=1.18
paho-mqtt>=1.4.0
pyaml>=18.0.0
filelock>=3.0.12,<3.1
pygame==1.9.6
pytest>=6.1.2
pytest-flask>=1.1.0
requests>=2.24.0
flask>=1.1.2
flake8>=3.8.4
